

<nav class="navbar navbar-light bg-light" style="margin-top:10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;">
<button (click)= "back()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg></button>

    <a class="navbar-brand"></a>


  </nav>

<div class="book_content">



<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Buyer</th>

    </tr>
  </thead>
  <tbody>
    <tr  data-toggle="modal" data-target="#updateModal" *ngFor="let purchase of purchaseList">

      <td>{{purchase.name}}</td>
      <td>{{purchase.price}}</td>
      <td *ngIf="purchase.buyerStudent !=null">{{purchase?.buyerStudent}}</td>
      <td *ngIf="purchase.buyerEmployee !=null">{{purchase?.buyerEmployee}}</td>



    </tr>




  </tbody>
</table>



