

<nav class="navbar navbar-light bg-light">





        <h4>Results Found</h4>

    <form class="form-inline">

        <button type="button"  data-toggle="modal" data-target="#addSpecializationModal" style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;" (click)="close()">
       x
          </button>
    </form>
  </nav>

<div class="card_content">

    <div class="form-row">






    <div *ngFor="let book of bookList">
        <div class="form-group col-md-4" >



            <div class="card" style="width: 18rem;">
                <img [attr.src]="book.url | async" class="card-img-top" alt="..." style="height:300px ">
                <div class="card-body">
                  <h5 class="card-title">{{book.name}}</h5>
                  <p class="card-text">Price:R {{book.price}}</p>
                  <a class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#addModal" (click)="collectBook(book)">View Details</a>
                </div>
              </div>

              </div>

            </div>



      </div>

    </div>

    <div *ngIf="student?.studentNo">


    <!-- View Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Book Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <p id="text_modal"> Name: {{bookItem?.name}}</p>
          <p id="text_modal"> Description: {{bookItem?.description}}</p>
          <p id="text_modal"> ISBN: {{bookItem?.isbn}}</p>
          <p id="text_modal"> Author: {{bookItem?.author}}</p>
          <p id="text_modal"> Publish Date: {{bookItem?.pubDate}}</p>
          <p id="text_modal"> Price: R {{bookItem?.price}}</p>
          <p id="text_modal"  *ngIf="bookItem?.studentNo"> Student Number: {{bookItem?.studentNo}}</p>
          <p id="text_modal" *ngIf="bookItem?.employeeNumber"> Employee Number: {{bookItem?.employeeNumber}}</p>








          <div class="modal-footer">
            <div >
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addToCart(bookItem)">Add To Cart</button>
           </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

  </div>

