<body style="text-align: center">

  <div id="item" >


    <h1 style="text-align: center;">Amount</h1>
    <h3 id="value">{{amount}}</h3>


  </div>

    <div style="max-width:500px; margin-left: auto; margin-right: auto; margin-top: 10px;">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Name</label>
              <input type="text" class="form-control"  placeholder="Name"   [(ngModel)]="profileUser[0].name">
            </div>

            <div class="form-group col-md-12">
                <label for="inputEmail4">Surname</label>
                <input type="text" class="form-control"  placeholder="Surname"    [(ngModel)]="profileUser[0].surname">
              </div>

              <div class="form-group col-md-12">
                  <label for="inputAddress">Contact Number</label>
                  <input type="number" class="form-control"  placeholder="Contact Number"   [(ngModel)]="profileUser[0].contact">
                </div>




                  <label for="inputState" id="item_style"  >Gender</label>
                  <select id="inputState" class="form-control"  [(ngModel)]="gender" >
                  <option selected value="male" >Male</option>
                  <option selected value="female" >Female</option>
                  <option selected value="transgender" >Transgender</option>
                </select>



            <div class="form-group col-md-12">
                <label for="inputAddress2">Student Number</label>
                <input type="text" class="form-control"  placeholder="Student Number"   [(ngModel)]="profileUser[0].studentNo">
              </div>

          <div class="form-group col-md-12">
            <label for="inputAddress">Password</label>
            <input type="text" class="form-control"  placeholder="Password"   [(ngModel)]="profileUser[0].password">
          </div>



    <div class="form-group col-md-12" >
      <label for="inputAddress">Enter Address</label>
      <input type="text" class="form-control"  (input)="search($event)" (change)="addressCheck($event)"   [(ngModel)]="profileUser[0].location"  [value]="selectedAddress">
    </div>


    <div *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)" >

      <ul class="list-group">
        <li class="list-group-item">{{ address}}</li>
        <br>
      </ul>
  </div>


          </div>




          <button type="submit" class="btn btn-outline-dark"  style="width:100%"   data-toggle="modal" data-target="#viewModal" >View Subject</button>






          <button type="submit" class="btn btn-primary"  style="width:100%"  (click)="updateStudent()">Update</button>



        </div>



    </body>







    <!--Modal View-->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModallLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Subject</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col"> ID</th>
                <th scope="col">Name</th>
                <th scope="col">Book Name </th>
                <th scope="col">Book Author</th>
                <th scope="col">Book ISBN </th>
              </tr>
            </thead>
            <tbody>
              <tr   *ngFor="let subject of profileUser[0].subjects">


                   <td>{{subject.subjectID}}</td>
                <td>{{subject.subjectName}}</td>
                <td>{{subject.bookName}}</td>
                <td>{{subject.bookAuthor}}</td>
                <td>{{subject.bookIsbn}}</td>



              </tr>



            </tbody>

            </table>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>



