<body style="text-align: center">


          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Name</label>
              <input type="text" class="form-control"  placeholder="Name"   [(ngModel)]="profileUser[0].name">
            </div>

            <div class="form-group col-md-12">
                <label for="inputEmail4">Surname</label>
                <input type="text" class="form-control"  placeholder="Surname"    [(ngModel)]="profileUser[0].surname">
              </div>

              <div class="form-group col-md-12">
                  <label for="inputAddress">Contact Number</label>
                  <input type="number" class="form-control"  placeholder="Contact Number"   [(ngModel)]="profileUser[0].contact">
                </div>


                <div class="form-group col-md-12">
                    <label for="inputAddress">Gender</label>
                    <input type="text" class="form-control"  placeholder="Gender"   [(ngModel)]="profileUser[0].gender">
                  </div>



            <div class="form-group col-md-12">
                <label for="inputAddress2">Student Number</label>
                <input type="text" class="form-control"  placeholder="Student Number"   [(ngModel)]="profileUser[0].studentNo">
              </div>

          <div class="form-group col-md-12">
            <label for="inputAddress">Password</label>
            <input type="text" class="form-control"  placeholder="Password"   [(ngModel)]="profileUser[0].password">
          </div>

          </div>


          <div id="rbook">


            Recommended Books


          </div>


          <table class="table">
            <thead>
              <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Name</th>

              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let book of recommendedBookList" >

                <td>{{book.isbn}}</td>
                <td>{{book.name}}</td>

              </tr>


            </tbody>
          </table>



          <button type="submit" class="btn btn-primary"  style="width:100%"  (click)="updateStudent()">Update</button>





    </body>




