
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
     <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">

        <h1 style="text-align:center;">MiCampusExchange</h1>

        <div class="form-group row">
          <div class="form-group col-md-8">
            <div class="input-group-prepend">



            <input type="text" class="form-control" placeholder="Search Book" aria-label="book" aria-describedby="basic-addon1" [(ngModel)]="bookName">
          </div>
          </div>
          <div class="form-group col-md-4">



            <button type="button" class="btn btn-primary" style="width:100%; margin-left: 5px;" (click)="search()">FIND THE BOOK</button>
          </div>

          </div>








      </div>
    </div>
  </div>
</header>


<div class="card">

    <div class="containerCard">

<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel" style="margin-top:20px;">



    <div class="carousel-inner mdb-lightbox" role="listbox">
      <div id="mdb-lightbox-ui"></div>
      <!--First slide-->
      <div class=" carousel-item active text-center">

        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student1.jpg" style="height:250px;"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student2.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>

        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student3.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student4.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student5.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student6.png" style="height:250px; width:330px"
              class="img-fluid">

        </figure>

      </div>
      <!--/.First slide-->




    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->

  </div>

</div>

  <div class="card">

      <div class="containerCard">

<div class="container">

    <div class="row">

        <div class="col-xl-8 offset-xl-2 py-5">

              <h1 style="text-align:center;">Contact Us!</h1>

            <div class="form-group">
                <label for="inputEmail">Email</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email"  autofocus  required [(ngModel)]="content.email">

            </div>

          

            <div class="form-group">
                <label for="inputPassword">Full Name</label>
              <input type="text" id="inputPassword" class="form-control" placeholder="Full Name"  required [(ngModel)]="content.name">

            </div>

            <div class="form-group">
                <label for="comment">Message</label>
                <textarea class="form-control" rows="5" id="comment"  [(ngModel)]="content.message"></textarea>
              </div>


            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit"  style="width:100%" (click)="addComment()">Send</button>






        </div>

    </div>

</div>

</div>

</div>


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">






    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Rethabile</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



