button{

  width: 300px;
}

.content{

  padding-left: 10px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.bg-img {
  background-image: url('/assets/book1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
