
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
     <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">




        <h1 style="text-align:center;">MiCampusExchange</h1>

        <div class="form-group row">
          <div class="form-group col-md-8">
            <div class="input-group-prepend">



            <input type="text" class="form-control" placeholder="Search Book" aria-label="book" aria-describedby="basic-addon1" [(ngModel)]="bookName">
          </div>
          </div>
          <div class="form-group col-md-4">



            <button type="button" class="btn btn-primary" style="width:100%; margin-left: 5px;" (click)="search()">FIND THE BOOK</button>
          </div>

          </div>








      </div>
    </div>
  </div>
</header>


<div class="card">

    <div class="containerCard">

<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel" style="margin-top:20px;">



    <div class="carousel-inner mdb-lightbox" role="listbox">
      <div id="mdb-lightbox-ui"></div>
      <!--First slide-->
      <div class=" carousel-item active text-center">

        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student1.jpg" style="height:250px;"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student2.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>

        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student3.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student4.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student5.jpg" style="height:250px; width:330px"
              class="img-fluid">

        </figure>
        <figure class="col-md-4 d-md-inline-block">


            <img src="assets/student6.png" style="height:250px; width:330px"
              class="img-fluid">

        </figure>

      </div>
      <!--/.First slide-->




    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->

  </div>

</div>

  <div class="card">



<div class="container contact-form">
  <div class="contact-image">
      <img src="assets/exo.png" alt="rocket_contact"/>
  </div>
  <form method="post">
      <h3>Drop Us a Message</h3>
     <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" [(ngModel)]="content.name" />
              </div>
              <div class="form-group">
                  <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value=""  [(ngModel)]="content.email" />
              </div>

              <div class="form-group">
                  <input type="submit" name="btnSubmit" class="btnContact" value="Send Message"  (click)="addComment()"/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" [(ngModel)]="content.message"></textarea>
              </div>
          </div>
      </div>
  </form>
</div>

</div>


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">






    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Rethabile</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



