
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    <form class="form-inline">

        <button type="button"  data-toggle="modal" data-target="#addSpecializationModal" style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;" (click)="back()">
            X
          </button>
    </form>
  </nav>



<div class="card" *ngFor="let contact of contactList" (click)="viewComment(contact)" data-toggle="modal" data-target="#viewMessageModal">

  <div class="container">

      <h2>{{contact.name}}</h2>

<p>
      <i class="fa fa-envelope" aria-hidden="true"></i> {{contact.email}}

    </p>

   
  </div>
</div>


  <!--View Message-->

  <div class="modal fade" id="viewMessageModal" tabindex="-1" role="dialog" aria-labelledby="viewMessageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


            <p style="margin-left: 5px;">{{contact.message}}</p>




 <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="width:100%" (click)="deleteModal(contact)">Delete</button>


      </div>

        </div>
      </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
    
            <p>Are You sure you want to delete contact?</p>
    
    
    
    
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" style="width:100%" (click)="deleteContact()">Yes</button>
    
    
            </div>
          </div>
        </div>
      </div>




