<nav class="navbar navbar-light bg-light">
  <h4>Add Student</h4>
  <form class="form-inline">

      <button type="button"  data-toggle="modal" data-target="#addSpecializationModal" style=" background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;" (click)="back()">
          X
        </button>
  </form>
</nav>



<div style="max-width:500px; margin-left: auto; margin-right: auto; margin-top: 10px;">
<div class="form-group" id="item_style">
  <label for="exampleInputEmail1" id="item_style">Student Number</label>
  <input type="number" class="form-control"  placeholder="Student Number"  [(ngModel)]="student.studentNo">
</div>

<div class="form-group" id="item_style">
  <label for="exampleInputPassword1">Password</label>
  <input type="text" class="form-control"  placeholder="Password" [(ngModel)]="student.password">
</div>


<label for="inputState" id="item_style">Course</label>
<select id="inputState" class="form-control"  [(ngModel)]="course">
<option selected value="{{course.name}}" *ngFor="let course of courseList">{{course.name}}</option>

</select>


<label for="inputState" id="item_style"  >Specialization</label>
<select id="inputState" class="form-control" [(ngModel)]="student.specialization"[(ngModel)]="specialization" >
<option selected value="{{special.name}}" *ngFor="let special of specializationList">{{special.name}}</option>

</select>








  <button type="button" class="btn btn-primary" style="width:100%; margin-top:10px;" (click)="addStudent()" >Add</button>
</div>





