<nav class="navbar navbar-primary bg-primary navbar-custom">
  <button type="button"   style=" background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;" (click)="back()">
          Back
    </button>
  <form class="form-inline">

      <button type="button"   style=" background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;" (click)="logout()">
              Logout
        </button>
  </form>
</nav>
