<nav class="navbar navbar-light bg-light" style="margin-top:10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;">

<button (click)= "back()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg></button>
    <a class="navbar-brand"></a>

  </nav>


  <div class="card_content">

    <div class="form-row">

<div *ngFor="let content of contentList">
  <div class="form-group col-md-4" >











          <div class="card" style="width: 18rem;">
            <img *ngIf="content.thumbnail" [attr.src]="content.downloadUrl | async" class="card-img-top" alt="..." style="height:300px ">
              <div class="card-body">
                <h5 class="card-title">{{content.name}}</h5>
                <p class="card-text">Price:R {{content.price}}</p>
                <p class="card-text" *ngIf="content?.videoUrl">Video File Available</p>
                <p  class="card-text" *ngIf="content?.fileUrl">PDF File Available</p>



                <div class="modal-footer">
                  <div >
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addToCart(content)">Add To Cart</button>
               </div>
              </div>
            </div>

            </div>

          </div>


</div>


</div>

  </div>





