


<div class="form-group row">
    <div class="form-group col-md-8">
      <div class="input-group-prepend">


      <input type="text" class="form-control" placeholder="Search Book" aria-label="book" aria-describedby="basic-addon1" [(ngModel)]="bookName">
    </div>
    </div>
    <div class="form-group col-md-4">



      <button type="button" class="btn btn-primary" style="width:100%; margin-left: 5px;" (click)="search()">FIND THE BOOK</button>
    </div>

    </div>




<div class="card_content">

<div class="form-row">






<div *ngFor="let book of bookArryList">
    <div class="form-group col-md-4" >



       



    
        

       
            <div class="card" style="width: 18rem;">
                <img [attr.src]="book.url | async" class="card-img-top" alt="..." style="height:300px ">
                <div class="card-body">
                  <h5 class="card-title">{{book.name}}</h5>
                  <p class="card-text">Price:R {{book.price}}</p>
                  <p *ngIf=""></p>
                  <a class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#addModal" (click)="collectBook(book)">View Details</a>
                </div>
              </div>
    
              </div>
    
            </div>
       
    
       

  
    
      
       

      
      


  </div>

</div>


<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <p id="text_modal"> Name: {{bookItem?.name}}</p>
      <p id="text_modal"> Description: {{bookItem?.description}}</p>
      <p id="text_modal"> ISBN: {{bookItem?.isbn}}</p>
      <p id="text_modal"> Author: {{bookItem?.Author}}</p>
      <p id="text_modal"> Publish Date: {{bookItem?.pubdate}}</p>
      <p id="text_modal"> Price: R {{bookItem?.price}}</p>
      <p id="text_modal"> Student Number{{profile.studentNo}}</p>
      <p id="text_modal"> Contact Number {{profile.contact}}</p>



      <div class="modal-footer">
          <div *ngIf="bookItem?.reserved =='no'">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reserve(bookItem)">Reserve</button>
       </div>
       <div *ngIf="bookItem?.reserved =='yes'">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelReserve(bookItem)">Cancel Reserve</button>
       </div>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

