<!-- <div class="profile">




  <div class="row" style="text-align: center;">


    <div class="col-sm" (click)="goBooks()">

        View Books


      </div>

      <div class="col-sm" (click)="goHistory()">

        Purchase History

      </div>




      </div>

</div>



<div class="form-group col-md-12">

  <label for="inputAddress"> Employee Number: {{teacher.employeeNumber}}</label>
</div>

<div class="form-group col-md-12">
  <label for="inputAddress">Name</label>
  <input type="text" class="form-control"  placeholder="Name"  [(ngModel)]="teacher.name">
</div>


<div class="form-group col-md-12">
  <label for="inputAddress">Surname</label>
  <input type="text" class="form-control"  placeholder="Surname"  [(ngModel)]="teacher.surname" >
</div>


<div class="form-group col-md-12">
  <label for="inputAddress">Contact Number</label>
  <input type="number" class="form-control"  placeholder="Contact Number"  [(ngModel)]="teacher.contact" >
</div>


<div class="form-group col-md-12">
  <label for="inputAddress">Email</label>
  <input type="text" class="form-control"  placeholder="Email" [(ngModel)]="teacher.email"  >
</div>

<div class="form-group col-md-12">
  <label for="inputAddress">Password</label>
  <input type="text" class="form-control"  placeholder="Password"   [(ngModel)]="teacher.password"  >
</div>

<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="updateTeacher()">Update</button> -->



<div class="sidemenu">



  <div class="menu">


    <img src="assets/exo.png" width="100" height="100">


    <div (click)="goHistory()" id="menuItem"  >

      Purchase History

    </div>

    <div (click)="goBooks()" id="menuItem" >

      View Books


    </div>


    <div (click)=" goContent()" id="menuItem" >

      View Content


    </div>


    <div (click)="goWallet()" id="menuItem" >

     Withdraw Funds


    </div>


    <div id= "divider"></div>

    <div (click)="signOut()" id="menuItem" >

      <span class="oi oi-account-logout"></span> Sign Out


    </div>
  </div>

  <div class="content">
      <span id="clickable">

        <h3 style="margin-left:20px; margin-top:50px;">Profile Information</h3>

        <div class="row">


        
        <div class="col-md-4" >
          <label for="inputAddress">Name</label>
          <input type="text" class="form-control"  placeholder="Name"  [(ngModel)]="teacher.name">
        </div>


     
        <div class="col-md-4" >
          <label for="inputAddress">Bank Name</label>
          <input type="text" class="form-control"  placeholder="Bank Name"  [(ngModel)]="teacher.bankName">
        </div>
        </div>
      


        <div class="row">



            <div class=" col-md-4" >
              <label for="inputAddress">Contact Number</label>
              <input type="number" class="form-control"  placeholder="Contact Number"  [(ngModel)]="teacher.contact" >
            </div>
          


              <div class="col-md-4" >
                <label for="inputAddress">Bank Swift Code</label>
                <input type="text" class="form-control"  placeholder="Bank Swift Code"  [(ngModel)]="teacher.bankSwiftCode" >
              </div>

            </div>

        

      
            <div class="row">


           
    
               
        <div class="col-md-4" >
          <label for="inputAddress">Email</label>
          <input type="text" class="form-control"  placeholder="Email" [(ngModel)]="teacher.email"  >
        </div>

    
    
               
        <div class="col-md-4" >
          <label for="inputAddress">Bank Account</label>
          <input type="text" class="form-control"  placeholder="Bank Account" [(ngModel)]="teacher.bankAccount"  >
        </div>
    
            
    
                </div>

       



                <div class="row">
        <div class="col-md-4" >
          <label for="inputAddress">Password</label>
          <input type="text" class="form-control"  placeholder="Password"   [(ngModel)]="teacher.password"  >
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" style="margin-top: 10px; ">
        <button class="btn  btn-primary  btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="updateTeacher()">Update</button>
    </div>
  </div>
      </span>
  </div>
  <div>
