<nav class="navbar navbar-primary bg-primary navbar-custom">
    <a class="navbar-brand"></a>




    <form class="form-inline">

        <button type="button"  data-toggle="modal" data-target="#addModal" style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;" (click)="comments()">
        <i class='fas fa-comment' style='font-size:24px'></i>
          </button>

        <button type="button"  data-toggle="modal" data-target="#addModal" style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;" (click)="logout()">
                Logout
          </button>
    </form>
  </nav>

<router-outlet></router-outlet>
