.navbar-custom {

  color: black;

  background-color:black;


}


.nav.navbar-nav.navbar-right li a {
  color: black;
}


.navbar-nav{

  font-weight: 500;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch: expanded;
}
