<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" >  <img src="assets/exo.png" style="height:75px;"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 70px;">
    <div class="navbar-nav" >
      <a class="nav-item nav-link active" routerLink='/'  style="margin-left: 20px; font-weight: 2rem;">Home </a>
      <a class="nav-item nav-link  active" routerLink='/signIn' style="margin-left: 20px; font-weight: 2rem;">Sign In</a>
      <a class="nav-item nav-link active" routerLink='/hSafety' style="margin-left: 20px; font-weight: 2rem;">Help & Safety</a>
    </div>



  </div>


</nav>

<router-outlet></router-outlet>
