
  <div class="card">

    <div class="container">

  <h1  id="header"> SAFETY FIRST </h1>

  </div>

  </div>

  <div class="card">

      <div class="container">



  <p id="header">Read carefully as your safety is our first priority
  </p>


  <h3 id="header">WHEN MEETING SOMEONE FOR THE FIRST TIME, PLEASE REMEMBER
  </h3>





  <p style="margin-left: 5px;">It's very important to be safe when you meet people when exchanging money and book(s).</p>

  <ul>

    <li>Insist on a public meeting place like a cafe surrounded by people</li>

    <li>Insist on meeting at campus daylight </li>

    <li>Travel there on your own – don’t accept a lift from the other person</li>

    <li>Do tell a friend or family member who you are meeting, where you are going and when you will be back </li>

    <li>Take your cell phone with you at all times
    </li>

    <li>Consider having a friend accompany you</li>

    <li>Trust your instincts</li>

  </ul>




  <footer class="page-footer font-small cyan darken-3">



  <p style="text-align: center">For more information about personal safety online and offline please visit</p>
  <p style="text-align: center">   <a href="https://www.tut.ac.za/faculties/humanities/departments/safety-and-security-management/about">https://www.tut.ac.za/faculties/humanities/departments/safety-and-security-management/about</a> </p>
 <p style="text-align: center"> <a href="https://www.tut.ac.za/faculties/humanities/departments/safety-and-security-management/contact-us">https://www.tut.ac.za/faculties/humanities/departments/safety-and-security-management/contact-us</a></p>
<p style="text-align: center">Departmental Administrator</p>
<p style="text-align: center">Name: Ms Marita Nagel</p>



  </footer>

      </div>
      </div>


      <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">






  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Rethabile</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



