#header{

  text-align: center;
  margin-top: 20px;


}

#body{

  text-align: center;
}

.card {
  background-image: url('/assets/student5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  margin-left: 5px;
  margin-right:5px;
  color:#FFF;

}


/* Add some padding inside the card container */
.container {

  padding: 2px 16px;
}

body {

}
