
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;"  style="background: aqua">

        <div class="card-body" (click)="addCourse()">
          <h5 class="card-title" style="text-align: center" >Courses</h5>

          <p style="text-align: center">{{totCourse}}</p>

        </div>
      </div>
    </div>
    <div class="col-sm">


      <div class="card" style="width: 18rem;">

        <div class="card-body" (click)="addSpecialization()" style="background-color: blue">
          <h5 class="card-title" style="text-align: center" >Specialization</h5>


     <p style="text-align: center">{{totSpecialization}}</p>

        </div>
      </div>

    </div>

    <div class="col-sm">

      <div class="card"   (click)="addSubject()"  style="width: 18rem;" style="background-color: lightgray">

        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Total Subjects</h5>

            <p style="text-align: center">{{totSubject}}</p>
        </div>
      </div>
      </div>


      <div class="col-sm">

        <div class="card"   (click)="goTeacher()"  style="width: 18rem;" style="background-color: lightgray">

          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Total Teachers</h5>

              <p style="text-align: center">{{totTeachers}}</p>
          </div>
        </div>
        </div>



  </div>
</div>
<nav class="navbar navbar-light bg-light" style="margin-top:10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;">
    <a class="navbar-brand"></a>
    <form class="form-inline">

        <button type="button"  (click)="addStudent()" style=" background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;">
          + Student
          </button>


          <button type="button"   style=" background-color: Transparent;
          background-repeat:no-repeat;
          border: none;
          cursor:pointer;
          overflow: hidden;
          outline:none;" (click)="addSubject()">
            + Subject
            </button>



    </form>
  </nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Student Number</th>
      <th scope="col">Password</th>
      <th scope="col">Course</th>
      <th scope="col">Specialization</th>
    </tr>
  </thead>
  <tbody>
    <tr  data-toggle="modal" data-target="#updateStudentModal" *ngFor="let student of studentList" (click)="update(student)">

      <td>{{student.studentNo}}</td>
      <td>{{student.password}}</td>
      <td>{{student.course}}</td>
      <td>{{student.specialization}}</td>



    </tr>


  </tbody>
</table>



<!--Modal add-->

<div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group" id="item_style">
          <label for="exampleInputEmail1" id="item_style">Student Number</label>
          <input type="number" class="form-control"  placeholder="Student Number"  [(ngModel)]="student.studentNo">
        </div>






        <div class="form-group" id="item_style">
          <label for="exampleInputPassword1">ISBN</label>
          <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.isbn">
        </div>


        <div class="form-group" id="item_style">
            <label for="exampleInputPassword1">Add Recommended Book</label>
            <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.name">
          </div>


          <div *ngFor="let book of  adList; let i = index">

            <div  id="item_style">

              <div class="row">
                <div class="col-sm-8">
            {{book.name}}
          </div>

          <div class="col-sm-2"  aria-hidden="true" data-toggle="modal"  data-target="#updateRecommendedModal" >
            <i class="fa fa-trash" aria-hidden="true" data-toggle="modal"  data-target="#updateRecommendedModal"></i>



          </div>

          <div class="col-sm-2">
              <i class="fas fa-edit" aria-hidden="true" ></i>



            </div>



              </div>
            </div>


          </div>


      <div class="modal-footer">

          <button  type="button" (click)="addSubject()" class="btn btn-secondary" style="width:100%">Add Subject</button>

        </div>




    </div>
  </div>
</div>

<!--Modal update-->

<div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" id="item_style">Student Number</label>
            <input type="number" class="form-control"  placeholder="Student Number"  [(ngModel)]="student.studentNo">
          </div>

          <div class="form-group" id="item_style">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control"  placeholder="Password" [(ngModel)]="student.password">
          </div>



          <label for="inputState" id="item_style">Specialization</label>
          <select id="inputState" class="form-control" [(ngModel)]="specialization">
            <option selected value="{{special.name}}" *ngFor="let special of specialObjectList">{{special.name}}</option>


          </select>

          <div *ngFor=" let special of specialObjectList">

            <div *ngIf= 'specialization === special.name'>


                <label for="inputState" id="item_style">Course</label>
          <select id="inputState" class="form-control" [(ngModel)]="student.course">
            <option selected value="{{special.courseName}}" >{{special.courseName}}</option>


          </select>



            </div>

          </div>










        <div class="modal-footer">
          <button type="button" class="btn btn-danger" style="width:100%" aria-hidden="true" data-toggle="modal"  data-target="#deleteModal" (click)="deleteOption(student)" >Delete</button>
          <button type="button" class="btn btn-primary" style="width:100%" (click)="updateStudent()" >Update</button>

        </div>
      </div>
    </div>
  </div>



  <!--Modal update-->

<div class="modal fade" id="updateRecommendedModal" tabindex="-1" role="dialog" aria-labelledby="updateRecommendedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Recommended Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="form-group" id="item_style">
        <label for="exampleInputEmail1" id="item_style">Student Number</label>
        <input type="number" class="form-control"  placeholder="Student Number"  [(ngModel)]="student.studentNo" (input)="onSearchChange($event.target.value)">
      </div>



      <div class="form-group" id="item_style">
        <label for="exampleInputPassword1">ISBN</label>
        <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.isbn">
      </div>


      <div class="form-group" id="item_style">
          <label for="exampleInputPassword1">Add Recommended Book</label>
          <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.name">
        </div>



  <div *ngFor="let book of  recommendedBookList">

    <div  id="item_style">

      <div class="row">
        <div class="col-sm-8">
    {{book.name}}



       </div>

  <div class="col-sm-2" >

    <i class="fa fa-trash" aria-hidden="true" data-toggle="modal"  (click)="deleteRecommendedBook(book)" ></i>

  </div>

 <div class="col-sm-2">
      <i class="fas fa-edit" aria-hidden="true"   data-target="#updateRecommendedModal" (click)="editBook(book)"></i>



    </div>



      </div>
    </div>


  </div>







      <div class="modal-footer">
        <button  type="button" (click)="addRecommended()" class="btn btn-secondary" style="width:100%">Add Recommended Book</button>


      </div>
    </div>
  </div>
</div>



<!--
  <div class="modal fade"  tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Recommend Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>





        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:100%"  (click)="options(i)">Update</button>
          <button type="button" class="btn btn-danger" style="width:100%"  >Delete</button>

        </div>
      </div>
    </div>
  </div> -->


   <!--Modal Add Recommendation-->

<div class="modal fade" id="updateRecommendedModal" tabindex="-1" role="dialog" aria-labelledby="updateRecommendedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recommended Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="form-group" id="item_style">
        <label for="exampleInputEmail1" id="item_style">Student Number</label>
        <input type="number" class="form-control"  placeholder="Student Number"  [(ngModel)]="student.studentNo" (input)="onSearchChange($event.target.value)">
      </div>




      <div class="form-group" id="item_style">
        <label for="exampleInputPassword1">ISBN</label>
        <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.isbn">
      </div>


      <div class="form-group" id="item_style">
          <label for="exampleInputPassword1">Add Recommended Book</label>
          <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.name">
        </div>



      <div class="form-group" id="item_style">
        <label for="exampleInputPassword1">Author</label>
        <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.name">
      </div>


      <div class="form-group" id="item_style">
        <label for="exampleInputPassword1">PubDate</label>
        <input type="text" class="form-control"  placeholder="Recommended Book" [(ngModel)]="recommondedBook.name">
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="width:100%" (click)="updateStudent()" >Add</button>


      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <p>Are You sure you want to delete student?</p>




        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="width:100%" (click)="deleteStudent()">Yes</button>


        </div>
      </div>
    </div>
  </div>
