



  <div class="container-fluid" style="background-color: lightgray">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container" >
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto" >
                <h3 class="login-heading mb-4">Welcome back!</h3>



                <h6>Login As</h6>

                <div class="row">
                  <div class="col-sm">


                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="student"  [checked]="student" (change)="onStudent()">
                      <label class="form-check-label" > <i>Student</i></label>
                    </div>

                  </div>
                  <div class="col-sm">



                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="teacher" [checked]="teacher"  (change)=" onTeacher()">
                      <label class="form-check-label" ><i>Teacher</i></label>
                    </div>

                  </div>

                </div>

                  <div class="form-group" style="margin-top: 10px;" *ngIf="type == 'student'">
                      <label for="inputEmail">Student Number</label>
                    <input type="number" id="inputEmail" class="form-control" placeholder="Student Number"  autofocus [(ngModel)]="user.studentNo" required>

                  </div>

                  <div class="form-group" style="margin-top: 10px;" *ngIf="type == 'teacher'">
                    <label for="inputEmail">Employee Number</label>
                  <input type="number" id="inputEmail" class="form-control" placeholder="Employee Number"  autofocus [(ngModel)]="user.studentNo" required>

                </div>

                  <div class="form-group">
                      <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="user.password" required>

                  </div>





                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="moveDetail()">Sign in</button>

                  <p style="text-align:center; margin-top:10px; color: blue" (click)="adminLogin()">Admin</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
