<!--

  <div class="centered">

<div class="sign-card">

<div class="sign-form">

<h1 style="text-align: center; ">Login</h1>

          <div class="form-group">



            <label for="exampleInputEmail1">Student Number</label>
            <input type="number" class="form-control" id="studentNo" aria-describedby="studentNo" placeholder="Student Number" [(ngModel)]="user.studentNo">

          </div>

          <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password">
            </div>


          <button type="submit" class="btn btn-primary" (click)="moveDetail()">Submit</button>



          <p style="text-align:center; margin-top:10px; color: blue" (click)="adminLogin()">Admin</p>









  </div>

</div>

</div> -->

  <!-- <div id="login">
    <div id="card">
      <h1 class="mat-display-1" style="margin-bottom: 10px;">Login</h1>
      <p class="mat-body-1 subtitle">Welcome to MiCampusExchange</p>

        <div>
          <span class="mat-body-1 headings">Student Number</span>
          <input type="number"   [(ngModel)]="user.studentNo"/>
        </div>

        <div>
          <span class="mat-body-1 headings">Password</span>
          <input type="password" [(ngModel)]="user.password"/>
        </div>

        <button ion-button block (click)="moveDetail()">Login</button>
        <p class="failed mat-body-1">{{error}}</p>


    </div>
  </div> -->



  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>

                  <div class="form-group">
                      <label for="inputEmail">Student Number</label>
                    <input type="number" id="inputEmail" class="form-control" placeholder="Student Number"  autofocus [(ngModel)]="user.studentNo" required>

                  </div>

                  <div class="form-group">
                      <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="user.password" required>

                  </div>


                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="moveDetail()">Sign in</button>

                  <p style="text-align:center; margin-top:10px; color: blue" (click)="adminLogin()">Admin</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
