
input{

  width: 100%;
}

button{

width: 100%;
}



.centered {
  position: fixed;
  top: 30%;
  width:100%;

}


.bg-img {
  background-image: url('/assets/book1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.sign-form{
  width: 400px; margin-left: auto; margin-right: auto;
}

.sign-card{

  padding-top: 20px;
  width: 600px;
  height:400px;
  background: white;
  margin-left: auto; margin-right: auto;

}





