
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">file</th>
      <th scope="col">Video</th>



    </tr>
  </thead>
  <tbody>
    <tr  data-toggle="modal" data-target="#updateModal" *ngFor="let payment of paymentList"  class="img-fluid animated fadeIn">

      <td>{{payment.name}}</td>
      <td>{{payment.price}}</td>
      <td (click)= "openFile(payment)" ><a style="color: blue;">{{payment.fileUrl}}</a></td>
      <td (click)= "openVideo(payment)"><a style="color: blue;">{{payment.videoUrl}}</a></td>




    </tr>




  </tbody>
</table>
