#item{

    height: 150px;
    background-color: blue;


    #value{

        text-align: center;
        color: white;
        font-size: 40px;
        padding-top: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
}